ul.features {
  width: 80%;
  margin: auto;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (min-width: 800px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  li {
    @media (min-width: 800px) {
      min-width: 300px;
    }

    border-radius: 8px;
    font-family: Montserrat, sans-serif;
    font-size: 1.12rem;
    font-weight: 800;
    height: 60px;
    line-height: 60px;
    list-style-type: disc;
    list-style-position: inside;
    // list-style-type: "→ ";
    padding-left: 12px;
    color: #ff4a1c;

    &:nth-child(odd) {
      background-color: rgb(246, 246, 246);
    }

    @media (min-width: 800px) {
      &:last-child {
        background-color: #fff;
      }
    }
  }
}
