* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 12px "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.phrase {
  span.featured {
    @media (min-width: 800px) {
      align-self: flex-start;
      position: relative;
      left: 100px;

      @media (min-width: 800px) {
        &:nth-child(2) {
          left: 150px;
        }
      }
    }
  }

  span + span {
    position: relative;
    left: -20px;
  }

  min-height: 250px;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  background-color: #ff4a1c;

  background-image: url("../img/videowall2.jpg");

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}

/*
header > * {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
*/
@keyframes animeTitle {
  0% {
    transform: translateX(5vw);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

span.featured {
  font-size: 1.8rem;
  color: #fff;
  letter-spacing: -2px;
  font-weight: 800;

  line-height: 0.88em;
  transform: translateX(5vw);
  opacity: 0;

  animation: ease-out 0.9s animeTitle forwards;

  background-color: #ff4a1c;
  align-self: flex-end;

  padding: 5px 15px;
  line-height: 40px;
}

article {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

p {
  text-align: center;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.856);
  padding: 0 10px;
}

a {
  &.whatsapp {
    background: none;
    bottom: 46px;
    position: fixed;
    right: 20px;
    width: 5rem;
    z-index: 19;

    img {
      max-width: 100%;
      transition: transform ease-in 0.21s, -webkit-transform ease-in 0.21s;
    }

    &:hover {
      -webkit-transform: scale(1);
      transform: scale(1);
      img {
        -webkit-transform: scale(90%);
        transform: scale(90%);
      }
    }
  }
}

section {
  padding: 50px 12px;

  &.brands {
    padding: 30px 12px;
  }
}

section.product {
  height: 225px;
  text-align: center;

  img {
    max-width: 80%;
    position: relative;
    top: -140px;
  }

  @media (min-width: 800px) {
    height: 3px;

    text-align: right;
    position: relative;
    top: -300px;
  }
}

section.sales {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;

  a {
    background-color: #30bf39;
    border-radius: 5px;
    box-shadow: 0 7px 0 #397706, 0 11px 16px 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1.9em;
    font-weight: 800;
    display: block;
    margin: 0 auto;
    position: relative;
    left: -2px;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    transition: all 0.1s ease;
    width: 90vw;

    @media (min-width: 800px) {
      width: 50vw;
    }

    &:hover,
    &:active {
      box-shadow: 0 2px 0 #397706, 0 11px 16px 0 rgba(0, 0, 0, 0.1);
      position: relative;
      top: 2px;
    }
  }

  i {
    margin-top: 18px;
    text-align: center;
    font-size: 0.8rem;
  }
}
@import "./_header.scss";
@import "./_brands.scss";
@import "./_features.scss";
@import "./_footer.scss";
@import "./_fadein.scss";
